<%-include('public/partials/base')-%>
<div class="menu-item-card flex">
	<div class="card-allergy-container flex-column">
		<h3>
			Top Allergen Present
		</h3>
		<ul>
			<li>Gluten</li>
			<li>Dairy</li>
			<li>Egg</li>
			<li>Fish</li>
			<li>Shellfish</li>
			<li>Soy</li>
			<li>Peanut</li>
			<li>Tree Nut</li>
			<li>Sesame</li>
		</ul>
	</div>
	<div class="card-ingredients-container">
		<h2 class="card-head">
			Menu Item Name
		</h2>
		<p class="card-ingredients">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
			veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
			velit esse cillum dolore eu fugiat nulla pariat
		</p>
	</div>
</div>
<%-include('public/partials/close')-%>
