<%- include('public/partials/base')-%>

<form class="search-container flex" method="GET" 
    action="https://api.nal.usda.gov/fdc/v1/foods/search">
    <div>
        <label for="query">Item name</label>
        <input type="text" name="query" id="">
    </div>
    <div>
        <label for="limit">Limit</label>
        <input type="number" name="limit" id="">
    </div>
    <input type="hidden" name="api_key" value="Lznel6DB6GnfacKofITm8pojzsojocprQSkgyxTN">
    

    <button>Submit</button>

</form>


<%- include('public/partials/close')-%>
