<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Allergy Buddy</title>
        <link rel="stylesheet" href="public/css/base.css" />
		<link rel="stylesheet" href="public/css/upload.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Golos+Text" />
    </head>
    <body>
        <div class="grid-container">
            <div class="head pad">
                <h1>
                    Allergy Buddy
                </h1>
            </div>
            <div class="nav">
                <div class="flex-column">
                    <a href="/" class="nav-card">
                        <div>
                            Menu
                        </div>
                    </a>
                    <a href="/search" class="nav-card">
                        <div>
                            Search
                        </div>
                    </a>
                    <div class="nav-card">
                        Top 9
                    </div>
					<a href="/upload" class="nav-card">
						<div>
                        	Upload
                    	</div>
					</a>
					
                </div>
            </div>
            <div class="main">
				
